@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap')

body
	margin: 0

*
	font-family: "Overpass", sans-serif
	font-optical-sizing: auto
	font-style: normal

$darken-purple: #100b1c
$robust-purple: #18132F
$gentle-purple: #4C2DA6
$lovely-purple: #7D4BF3
$yogurt-purple: #B17BF4
$purple-background: radial-gradient(ellipse farthest-corner at 50% 0%, mix($gentle-purple, $darken-purple, 50%) 0%, $darken-purple 70%, $darken-purple 100%)

@mixin debug
	outline: 1px solid magenta